@import 'tailwindcss';

:root {
  /* ProjectInBio */
  --background-primary: #050505;
  --background-secondary: #0f0f10;
  --background-tertiary: #19191a;
  --content-body: #cdcbcc;
  --content-placeholder: #827d7f;
  --content-headline: #b2b2b2;
  --border-primary: #19191a;
  --border-secondary: #323234;
  --border-tertiary: #97979b;
  --accent-purple: #4b2dbb;
  --accent-green: #87bb2d;
  --accent-pink: #b5446b;
}

@theme inline {
  /* ProjectInBio */
  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-background-tertiary: var(--background-tertiary);
  --color-content-body: var(--content-body);
  --color-content-placeholder: var(--content-placeholder);
  --color-content-headline: var(--content-headline);
  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);
  --color-border-tertiary: var(--border-tertiary);
  --color-accent-purple: var(--accent-purple);
  --color-accent-green: var(--accent-green);
  --color-accent-pink: var(--accent-pink);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
